@import url("http://fonts.googleapis.com/css?family=Armata&subset=latin,latin-ext");
@import url("http://fonts.googleapis.com/css?family=Flavors&subset=latin,latin-ext");

$fontArmata: Armata;
$fontFira: Fira Sans;
$fontHelvetica: Helvetica Neue;
$fontFlavors: Flavors;
