@import url("http://fonts.googleapis.com/css?family=Akaya+Telivigala&subset=latin,latin-ext");

$fontFamily: "Akaya Telivigala", sans-serif;

.App {
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;

    min-height: 100vh;
    background-color: #30336b;
    width: 100%;
    overflow: hidden;
    //
}

.page-title {
    font-size: 64px;
    font-family: $fontFamily;
    text-transform: capitalize;
    color: #fff;
}

.mybtn {
    font-family: $fontFamily;
    font-weight: bold;
    font-size: 24px;

    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 4px solid black;
    box-shadow: 5px 5px 10px #000;

    &-info {
        background-color: #e056fd;
    }

    &-info:hover {
        background-color: rgba(224, 86, 253, 0.4);
    }

    &-action {
        background-color: rgba(56, 173, 169, 1);
    }

    &-action:hover {
        background-color: rgba(7, 153, 146, 0.5);
    }

    &:active {
        transform: scale(0.92);
    }

    &:focus {
        outline: none;
    }
}

.homepage-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}

.footer-content {
    text-align: center;
    margin: 20px;
    width: 100%;
}

.user-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.user-card {
    padding: 20px;
    width: fit-content;
    min-height: 300px;
    background-color: #60a3bc;
    margin: 20px;
    font-size: 24px;
    color: #fff;
    border-radius: 10px;

    &-top {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
            border-radius: 10px;
            box-shadow: 6px 6px 8px #000;
            border: 1px solid #000;
        }
    }

    &-title {
        font-size: 36px;
        padding: 10px;
        font-family: $fontFamily;
    }
}

.messages-container {
    margin: 0;
    margin-top: 140px;
    padding: 0;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.message {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-weight: bold;
    bottom: 0;

    &-info {
        background-color: #0652dd;
    }

    &-warning {
        background-color: #f79f1f;
    }

    &-danger {
        background-color: #ea2027;
    }
}
